{% extends '../base.html' %}
{% load mathfilters %}

{% block csslink %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
	<div id="board">
		<form id="search_form" action="" method="post">
			<input type="text" id="kwd" name="kwd" value="">
			<input type="submit" value="찾기">
		</form>
		<table class="tbl-ex">
			<tr>
				<th>번호</th>
				<th>제목</th>
				<th>글쓴이</th>
				<th>조회수</th>
				<th>작성일</th>
				<th>&nbsp;</th>
			</tr>
			{% for board in boardlist %}
			<tr>
				<td>{{forloop.counter}}</td>
				<td style="text-align:left;">
					{%if board.depth > 0 %}
						<img src="/assets/images/reply.png" style="margin-left:{{board.depth|mul:20}}px">
					{%endif %}
					<a href="/board/view{{pg.url}}&board_id={{board.board_id}}">{{board.title}}</a>
				</td>
				<td>{{board.user.name}}</td>
				<td>{{board.hit}}</td>
				<td>{{board.regdate}}</td>
				<td><a href="" class="del">삭제</a></td>
			</tr>
			{% endfor %}
		</table>
		<!-- pager 추가 -->
		<div class="pager">
			<ul>
				{%if pg.prev %}<li><a href="/board/list?page={{pg.prevpage}}&perpagesize={{pg.perpagesize}}" style="">◀</a></li>{%endif %}
				{%for idx in pg.range%}

				<li {%if pg.page == idx %}class="selected"{%endif %}><a href="/board/list?page={{idx}}&perpagesize={{pg.perpagesize}}">{{idx}}</a></li>
				{%endfor %}
				{%if pg.next %}<li><a href="/board/list?page={{pg.nextpage}}&perpagesize={{pg.perpagesize}}">▶</a></li>{%endif %}
			</ul>
		</div>

		<div class="bottom">
			<a href="/board/writeform" id="new-book">글쓰기</a>
		</div>
	</div>
{% endblock %}